{% for comment in post.comments.all %}
<div class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
        <p class="mb-1">{{ comment.content }}</p>
        <small class="text-muted">{{ comment.user.username }} - {{ comment.created_at }}</small>
    </div>
    <div>
        {% if request.user.is_authenticated %}
        <form method="post" action="{% url 'add_like_comment' post.slug comment.id %}" class="d-inline">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-danger">
                {% if request.user in comment.likes.all %}
                    <i class="bi bi-heart-fill"></i>
                {% else %}
                    <i class="bi bi-heart"></i> 
                {% endif %}
            </button>
        </form>
        {% endif %}
        
        {% if comment.user == request.user %}
        <a href="{% url 'edit_comment' post.slug comment.id %}" class="btn btn-outline-secondary btn-sm">Редагувати</a>
        <form method="post" action="{% url 'delete_comment' post.slug comment.id %}" class="d-inline">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-danger btn-sm">Видалити</button>
        </form>
        {% endif %}
    </div>
</div>
{% empty %}
<div class="list-group-item">
    <p class="mb-1">Поки що немає коментарів.</p>
</div>
{% endfor %}
