{% extends 'base.html' %}

{% block content %}
<h2>Категорії</h2>
<ul>
    {% for category in categories %}
        <li>{{ category.name }}
            {% if user.is_staff %}
                - <a href="{% url 'category_edit' category.pk %}">Редагувати</a>
                - <a href="{% url 'category_delete' category.pk %}">Видалити</a>
            {% endif %}
            - <a href="{% url 'category_posts' category.pk %}">Переглянути пости</a>
        </li>
    {% endfor %}
</ul>
{% if user.is_staff %}
    <a href="{% url 'category_add' %}">Додати нову категорію</a>
{% endif %}
{% endblock %}
